    @import "~../gentelella/vendors/bootstrap/dist/css/bootstrap.min.css";
    @import "~../gentelella/vendors/font-awesome/css/font-awesome.min.css";
    @import "~../gentelella/vendors/nprogress/nprogress.css";
    @import "~../gentelella/vendors/iCheck/skins/flat/green.css";
    @import "~../gentelella/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css";
    @import "~../gentelella/vendors/jqvmap/dist/jqvmap.min.css";
    @import "~../gentelella/vendors/bootstrap-daterangepicker/daterangepicker.css";
    @import "~../gentelella/build/css/custom.min.css";

    .html_style{
	    background: white;
	   }

    .ms-selectable, .ms-selection{
      width: 48%!important;
    }
    @media only screen and (min-width: 992px) {
      .btns{
        padding-top: 73px !important;
      }
    }

     @media only screen and (max-width: 992px) {
      .btns{
        display: contents;
      }
    }
      .ms-container{
        width: 100%;
      }
      .loading{
     border-radius:150px;
     border:6px solid #797979;
     border-top-color:rgba(0,0,0,0.3);
     box-sizing:border-box;
     position: relative;
     animation:vina-loading 1.2s linear infinite;
     -webkit-animation:vina-loading 1.2s linear infinite;
     z-index: 1;
     display: none;
     }
     .button_loading{
       width: 33.34px;
       height: 33.34px;
       left: 46%;
       top: -3px;
     }
     @keyframes vina-loading{
     0%{transform:rotate(0deg)}
     100%{transform:rotate(360deg)}
     }
     @-webkit-keyframes vina-loading{
     0%{-webkit-transform:rotate(0deg)}
     100%{-webkit-transform:rotate(360deg)}
    }